$white: hsl(0, 0%, 100%);
$light_pink: hsl(275, 100%, 97%);
$grayish_purple: hsl(292, 16%, 49%);
$dark_purple: hsl(292, 42%, 14%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    font-size: 16px;
}

body {
    padding: 40px;
    background-color: $light_pink;
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    main {
        margin-top: 5%;
        margin-bottom: 20px;
        padding: 30px;
        width: 80%;
        max-width: 720px;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0 2px 10px 0 #aaa;

        h1 {
            margin-bottom: 20px;
            font-size: 2.5rem;
            font-weight: 700;

            &::before {
                content: url("assets/images/icon-star.svg");
                vertical-align: middle;
                margin-right: 16px;
            }
        }

        article {
            padding: 20px 0;
            border-bottom: 2px solid $light_pink;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:nth-last-child(1) {
                border-bottom: none;
                padding-bottom: 0;
            }

            .title {
                position: relative;
                display: flex;
                align-items: center;

                h2 {
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $dark_purple;

                    &:hover {
                        color: blueviolet;
                        cursor: pointer;
                    }
                }

                .icon {
                    content: url("assets/images/icon-plus.svg");
                    display: inline-block;
                    position: absolute;
                    right: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .icon.shown {
                    content: url("assets/images/icon-minus.svg");
                }
            }

            p {
                margin-top: 20px;
                width: 95%;
                font-size: 1rem;
                font-weight: 400;
                color: $grayish_purple;
                display: none;
            }

            p.visible {
                display: block;
            }
        }
    }
}

@media screen and (max-width:980px) {
    body {
        main {
            width: 95%;

            h2 {
                max-width: 90%;
            }
        }
    }
}

@media screen and (max-width:760px) {
    body {
        main {
            h2 {
                max-width: 85%;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width:540px) {
    body {
        padding: 20px;
        background-image: url("assets/images/background-pattern-mobile.svg");
        main {
            h2 {
                max-width: 80%;
            }
        }
    }
}